.playbill__description {
    max-width: 365px;
    margin: 0 auto;
    color: #242424;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

@media screen and (min-width: 1280px) {
    .playbill__description {
        max-width: 602px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1280px ) {
    .playbill__description {
        max-width: 500px;
    }
}

@media screen and (max-width: 1024px ) {
    .playbill__description {
        max-width: 477px;

    }
}

@media screen and (max-width: 768px) {
    .playbill__description {
        max-width: 366px;
    }
}

@media screen and (max-width: 320px) {
    .playbill__description {
        font-size: 18px;
    }
}