.playbill__info {

    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .playbill__info {
        background-color: #ffffff;
    }
}