.photo-group__title {
  max-width: 90%;
  margin: 0 auto 22px;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242424;
}
